@tailwind base;
@tailwind components;
@tailwind utilities;
.rbc-event-global {
  background-color: #fbab18 !important;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
